<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>spring-webflux-react</title>
</head>
<body>

<div id="app"></div>

<script data-th-src="@{built/index.bundle.js}"></script>
<script data-th-inline="javascript">
    // Integrates Thymeleaf and MVC model properties with React through React properties.
    lib.initializeApp({
        username: /*[[${username}]]*/ 'default',
        buildProperties: /*[[${buildProperties}]]*/ {}
    });
</script>
</body>
</html>